@font-face {
    font-family: 'retro';
    src: url('../fonts/hataretro_otameshi.ttf') format('truetype');
}
@font-face {
    font-family: 'mutsuki';
    src: url('../fonts/Mutsuki.ttf') format('truetype');
}
@font-face {
    font-family: 'kokumin';
    src: url('../fonts/font_1_kokumr_1.00_rls.ttf') format('truetype');
}

:root {
    --base-color: #eeeeee;
    --main-color: #c9afaa8a;
    /* --main-color: #d4c2bf; */
    /* --main-color: #c9b4aab6; */
    --accent-color: #f5546a;
}
.full-page{
    background-color: var(--base-color);
    z-index: 100;
    width: 100%;
}

.menu-box{
    display: flex;
    font-family: 'kokumin';
    font-size: 1.5rem;
    position: fixed;
    justify-content: center;
    width: 100%;
    margin:  auto;
    left: 50%; 
    transform: translateX(-50%);
    z-index: 1000;
    background-color: var(--base-color);
}

.menu-child{
    display: flex;
    justify-content: center;
}

.menu-btn{
    color: #000;
    text-decoration: none;
    border-left: solid var(--accent-color);
    border-right: solid var(--accent-color);
    width: 10rem;
    text-align: center;
}

.container{
    font-family: 'kokumin';
}

h1 {
    display: flex;
    position: relative;
    align-items: center;
    margin: 0;
    height: 5rem;
    top: 2rem;
}
 
h1:before,
h1:after {
    content: "";
    height: 1px;
    flex-grow: 1;
    background-color: #666;
}
 
h1:before {
    margin-right: 1rem;
}
 
h1:after {
    margin-left: 1rem;
}

.story-body, .tutorial-body, .chui-body, .mondai-body{
    border-radius: 1.3rem;
    background-color: var(--main-color);
    padding: 0.8rem;
    width: 85%;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 1.5rem;
}

.story-body{
    color: #311;
    text-align: center;
}

h6, h5{
    display: flex;
    justify-content: center;
    align-items: center;
}

h6{
    min-height: 2rem;
}

h5{
    min-height: 3rem;
}

.what-nazo{
    padding: 1rem;
    margin: 0 0 1rem 0;
    /* border-bottom: 0.05rem solid var(--accent-color); */
}

.flow{
    padding: 1rem;
}
.flow-body{
    font-size: 1.3rem;
}

.cards{
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

.card{
    margin: 0.3rem;
    background-color: var(--base-color);
    width: 18rem;
}

.card-title{
    text-align: center;
}

.flow-sub{
    display: flex;
    border: 0.1rem solid var(--accent-color);
    border-radius: 1rem;
    width: 80%;
    justify-content: center;
}

.flow-sub > p{
    padding: 2rem 2rem;
    margin: 0 0 0 0;
    position: relative;
}

table.table-bordered{
    border-collapse: separate; 
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.1rem solid var(--accent-color);
    border-radius: 1.5rem;
    height: 5rem;
    width: 50%;
    margin:  auto;
}

td{
    border: none;
    border-right: 0.1rem solid var(--accent-color);
}

table.table-bordered td:last-child{
    border: none;
}

.what-nazo-body{
    margin: 0;
}

.account{
    display: none;    
}
.account > a{
    position: relative;
    left: 1rem;
}

/* .to-top{ */
    /* display: none; */
    /* position: fixed; */
/* } */

@media screen and (max-width: 959px) {
    table.table-bordered{
        width: 80%;
    }
    td{
        font-size: smaller;
    }
}
@media screen and (max-width: 480px) {
	.menu-box{
        font-size: 1.3rem;
        left: 0;
        transform: translateX(0);
    }
    .menu-btn{
        width: 6rem;
    }
    .cards{
        display: block;
        margin: auto;
    }
    .card{
        width: 15rem;
        margin: auto;
    }
    table.table-bordered{
        width: 100%;
    }
    td{
        font-size: small;
    }
}
